@page "/survey-form"
@using Newtonsoft.Json;
@inject ILogger<SurveyFormPage> logger
@inject ILocalStorageService localStorage

<PageTitle>Survey Form</PageTitle>

<h3>SurveyJs Form</h3>
<button class="btn btn-primary" @onclick="Clear">Clear</button>
<button class="btn btn-primary" @onclick="@(() => SetLocale("fr"))">Set to French</button>
<button class="btn btn-primary" @onclick="@(() => SetLocale("id"))">Set to Indo</button>
<button class="btn btn-primary" @onclick="@(() => SetLocale())">Set to Default</button>

<SurveyJsForm Scheme="Scheme" OnComplete="OnSurveyComplete" @ref="surveyJsForm" class="mt-2"></SurveyJsForm>

@code {
    SurveyJsForm surveyJsForm = default!;
    protected object? Scheme;
    private readonly string localStorageKey = "survey-json";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var surveyStringData = await localStorage.GetItemAsStringAsync(localStorageKey);
            if (surveyStringData is not null)
            {
                var obj = JsonConvert.DeserializeObject(surveyStringData);
                Scheme = obj;
                StateHasChanged();
            }
        }
    }

    private void OnSurveyComplete(object data)
    {
        logger.LogInformation(data.ToString());
    }

    async Task Clear()
    {
        await surveyJsForm.Clear();
    }

    async Task SetLocale(string? locale = "")
    {
        await surveyJsForm.SetLocale(locale);
    }
}
