@page "/survey-creator"
@using Newtonsoft.Json;
@using SurveyJsBlazor.Models;
@inject ILogger<SurveyCreatorPage> logger
@inject ILocalStorageService localStorage

<PageTitle>Survey Creator</PageTitle>

<h3>SurveyJs Creator</h3>

<button class="btn btn-primary" @onclick="@(() => SetLocale("fr"))">Set to French</button>
<button class="btn btn-primary" @onclick="@(() => SetLocale("id"))">Set to Indo</button>
<button class="btn btn-primary" @onclick="@(() => SetLocale("ms"))">Set to Malay</button>
<button class="btn btn-primary" @onclick="@(() => SetLocale())">Set to Default</button>

<SurveyJsCreator @ref="surveyJsCreator"
                 Scheme="Scheme"
                 SaveSurveyFunc="SaveSurveyFunc"
                 CreatorOptions="CreatorOptions"
                 class="vh-100" />

@code {
    SurveyJsCreator surveyJsCreator = default!;
    protected object? Scheme { get; set; }
    protected CreatorOptions? CreatorOptions { get; set; }
    private readonly string localStorageKey = "survey-json";

    public SurveyCreatorPage()
    {
        CreatorOptions = new CreatorOptions
            {
                ShowLogicTab = true,
                IsAutoSave = true,
                ShowPreviewTab = true,
            };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var objLocalStorage = await localStorage.GetItemAsStringAsync(localStorageKey);
            if (objLocalStorage is not null)
            {
                var obj = JsonConvert.DeserializeObject(objLocalStorage);
                Scheme = obj;
                StateHasChanged();
            }
        }
    }

    public async Task SaveSurveyFunc(object data)
    {
        logger.LogInformation($"OnSurveySave: {data}");
        await localStorage.SetItemAsStringAsync(localStorageKey, data.ToString());
    }

    async Task SetLocale(string? locale = "")
    {
        await surveyJsCreator.SetLocale(locale);
    }
}
