@using System.Reflection;
@using Newtonsoft.Json;

@implements IAsyncDisposable
@inject IJSRuntime jsRuntime

<HeadContent>
    <link href="/_content/@(assemblyName)/libs/survey-core/defaultv2.min.css" rel="stylesheet" />
    <link href="/_content/@(assemblyName)/libs/survey-creator-core/survey-creator-core.min.css" rel="stylesheet" />
</HeadContent>

<div id="@this.GetHashCode()" @attributes=AllOtherAttributes></div>

@code {
    public SurveyJsCreator()
    {
        Instance = this;
    }

    private static SurveyJsCreator Instance = default!;

    [Parameter]
    public object? Scheme { get; set; }

    [Parameter]
    public EventCallback<object> OnSurveySave { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AllOtherAttributes { get; set; }

    private readonly string assemblyName = Assembly.GetExecutingAssembly().GetName().Name ?? "";
    private IJSObjectReference? jsModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsModule = await jsRuntime.InvokeAsync<IJSObjectReference>("import", $"/_content/{assemblyName}/Components/SurveyJsCreator.razor.js");

            await jsModule.InvokeVoidAsync("render", this.GetHashCode(), this.Scheme is not null ? JsonConvert.SerializeObject(this.Scheme) : null);
        }
    }

    [JSInvokable]
    public static async void OnSurveySaveHandle(object data)
    {
        await Instance.OnSurveySave.InvokeAsync(data);
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (jsModule is not null)
        {
            await jsModule.DisposeAsync();
        }

        GC.SuppressFinalize(this);
    }
}
