@page "/survey-form"
@using Newtonsoft.Json;

@inject ILogger<SurveyFormPage> logger

<PageTitle>Survey Form</PageTitle>

<h3>SurveyJs Form</h3>

<SurveyJsForm Scheme="Scheme" OnSurveyComplete="OnSurveyComplete"></SurveyJsForm>

@code {
    public SurveyFormPage()
    {
        var obj = JsonConvert.DeserializeObject(@"
        {
            elements: [{
                name: 'FirstName',
                title: 'Your first name:',
                type: 'text',
            }, {
                name: 'LastName',
                title: 'Your last name:',
                type: 'text',
            }]
        }");
        Scheme = obj;
    }

    protected object? Scheme { get; set; }

    private void OnSurveyComplete(object data)
    {
        logger.LogInformation(data.ToString());
    }
}
