@page "/survey-form"

@inject IJSRuntime JsRuntime
@implements IAsyncDisposable

<PageTitle>Survey Form</PageTitle>

<h3>Survey Form</h3>

@* <div id="surveyContainer"></div> *@
<survey params="survey: model"></survey>

@code {
    private IJSObjectReference? jsModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsModule = await JsRuntime.ImportAsync("./Pages/SurveyForm.razor.js");
            await jsModule.InvokeVoidAsync("initAsync");
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        // await JsRuntime.InvokeVoidAsync("BlazorSurveyJs.clearInjectedScripts");

        if (jsModule is not null)
        {
            await jsModule.InvokeVoidAsync("dispose");
            await jsModule.DisposeAsync();
        }
    }

    [JSInvokable]
    public static Task OnSurveyComplete(object result)
    {
        Console.WriteLine("Survey Completed:", result);

        return Task.CompletedTask;
    }
}
